<div class="absolute inset-0 w-full h-full opacity-0 transition-opacity duration-500 ease-in-out"
     data-carousel-target="slide"
     data-active="<%= local_assigns[:active] || false %>">
  <%= yield %>
</div>
