  
<div class="flex flex-col md:flex-row-reverse gap-4 items-center">
  <div class="w-full md:w-1/4 bg-white text-black">
    <div class="p-4">
      <div class="border-b border-gray-200 border">
        <h2 class="text-xl font-bold text-right mb-4 border px-4 py-3 bg-gray-100 text-gray-800">توحيد وعقيدة</h2>
        <ul class="text-right px-4">
          <% @categories.each do |category| %>
            <li class="mb-4 flex justify-between items-center hover:text-amber-500 group">
              <%= inline_svg_tag "icons/chevron-left.svg", class: "size-4 group-hover:rotate-180 transition-transform duration-300" %>
              <span class="group-hover:text-amber-500"><%= category.name %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-auto px-4 bg-primary">
    <%= render partial: "episode", locals: {episode: @episode } if @episode %>
  </div>
</div>
