<main class="border-t border-slate-200 w-full" aria-labelledby="main_title">
  <%= yield %>
  <%= render "episodes/player" do %>
    <% if partial.player %>
      <%= partial.yield :player %>
    <% end %>
  <% end %>
</main>