<main class="border-t border-slate-200 lg:relative lg:mb-28 lg:ml-112 lg:border-t-0 xl:ml-120" aria-labelledby="main_title">
  <div class="relative">
    <%= yield %>
  </div>

  <%= render "episodes/player" do %>
    <% if partial.player %>
      <%= partial.yield :player %>
    <% end %>
  <% end %>
</main>